doctype
html(lang='en')
  head
    title= title
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='#{desc}' )

  body
    .container
      block content

  link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css')
  link(rel='stylesheet', href='/css/style.css')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  script(src='/js/main.js')
