h1 {
  font-size: 36px;
}

#chatbox, #userList {
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  height: 300px;
  overflow-y: auto;
}

#chatbox > div:nth-child(odd) {
  background: #f9f9f9;
}
#chatbox > div:nth-child(even) {
  background: #ffffff;
}

.top5 {
  margin-top: 5px;
}
